/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 #header {
    background: #011234; /*Najwy¿ej le¿¹cy pasek z Contact us*/
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

body {
    background-color: #fff; /*Nic nie robi chyba*/
}

#wrapper {
    background-color: #f9f9f9; /* T³o za produktami */
}

#main {
    background-color: #f9f9f9; /* T³o wyœwietlania produktów */
}

footer {
    background-color: #f9f9f9; /* Dolna czêœæ strony */
}

/* pasek kategorii */

#header .header-top { 
    background-color: #011234; 
    position: relative;
    height: 40px;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

#header .header-top.container { 
    width: 100%;
}

#header .header-top.container.row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header-top .container .row {
    display: flex;
    justify-content: center;
}

.header-top-right {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.top-menu {
    box-shadow: none !important;
    display: flex;               /* Rozkłada elementy w poziomie */
    justify-content: center;     /* Centruje menu na środku strony */
    align-items: center;         /* Wyśrodkowanie w pionie */
    width: 100%;                 /* Rozciągnij na całą szerokość strony */
    font-family: "Montserrat Alternates", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", sans-serif;
}
#header .header-top a[data-depth="0"] { /* Tekst, kategorie. */
        color: #fff;
}

#header .header-top a[data-depth="0"]:hover {
    color: #011234;
    background-color: #fff;
    border-radius: 20px;
}

#header .header-nav { /* Czêœæ z logo i search barem */
    background-color: #011234;
    height: 150px;
    box-shadow: none !important;
}

.popover {
    background-color: #001234; /* Menu rozwijane */
}

#custom-text {
    background-color: #fff; /* Custom text block */
}

#blockEmailSubscription_displayFooterBefore {
    background-color: #dbdbdb /*Czêœæ z emailem*/
}
#header .header-nav .blockcart {
    padding: 0.75rem;
    margin-left: 0.9375rem;
    text-align: center;
    white-space: nowrap;
    background: #011234;
}
#header .header-nav .blockcart { /*Text Cart*/
    text-align: center;
    white-space: nowrap;
    color: black;
}
#header .header-nav .cart-preview .shopping-cart { /* Ikona Wózka*/
    color: #fff; 
    vertical-align: middle;
    background-color: #011234;
}

.learn_title {
  font-family: "Montserrat Alternates", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", sans-serif;
  color: #493987;
  font-weight: 700;
  font-size: 1.65em;
  margin-bottom: 8px;
}

.seasonal_title {
  font-family: "Montserrat Alternates", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", sans-serif;
  color: #493987;
  font-weight: 700;
  font-size: 1.65em;
  margin-bottom: 8px;
}

.materials_title {
  font-family: "Montserrat Alternates", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", sans-serif;
  color: #493987;
  font-weight: 700;
  font-size: 1.65em;
  margin-bottom: 8px;
}
.merch_title {
  font-family: "Montserrat Alternates", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", sans-serif;
  color: #493987;
  font-weight: 700;
  font-size: 1.65em;
  margin-bottom: 8px;
}

.box {
  background-color: transparent;
  background-image: linear-gradient(154deg, #E1A821 35%, #DA901C 90%);
  padding-left: 50%
}
#header .header-top > .container > .row:first-of-type { 
  width: 100%;
}

#category-3, #category-9, #category-12, #category-10, #category-11 {
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .col-md-7 {
    float: left;
    width: 82.3%;
  }
}
/* Wszystkie powy¿sze dotycz¹ strony g³ównej poni¿ej dla konkretnych podstron: */

.card-block {
    background-color: #011234; /* Ramka Contact Us*/
}

#content .contact-form {
    background-color: #011234; /* T³o Contact Us dla podstrony z formularzem */
}

#content .login-form {
    background-color: #fff; /* T³o logowania */
}

.page-authentication #content { /* Ramka */
    padding: 1rem;
    background: #fff;
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 0px;
}

#content .register-form {
    background-color: #fff; /* T³o rejestracji */
    color: #011234;
}

.page-authentication #content { /* Ramka */
    padding: 1rem;
    background: #011234;
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 0px;
}

#content .forgotten-password {
    background-color: #fff; /* T³o reset has³a */
}
.page-customer-account #content { /* Ramka */
    background-color: #fff;
}

.block-categories {
    background-color: #011234; /* Nazwa kategori */
}

#search_filters {
    background-color: #fff; /* Filtry wyszukiwania */
}

.block-category {
    background-color: #011234; /* Wyœwietlanie dla men women etc*/
    color: #fff;
}

/* search bar */

.search-widgets {
    border: 1px solid #fff;
    background-color: #fff;
    width: 300px;
}

.search-widgets form {
    background-color: #fff;
}

.ui-autocomplete-input {
    overflow: hidden;
    height: 35px;
    width: 200px;
}

.search-widgets form input {
    width: 250px !important;
}

/* przycisk shopping cart */

#_desktop_cart.header {
    color: #fff;
}

#_desktop_cart.blockcard.cart-preview.inactive.header span {
    display: none;
}

.blockcart .header span {
    display: none !important;
}

.blockcart {
    transform: translate(-5%, -5%); 
    margin-right: 10px;
    margin-left: 5px;
}

.blockcart:hover {
    border-radius: 19px;
    background-color: #50AFA2;
}

/* log in button */

.user-info-login {
    background-color: #50AFA2; 
    height: 40px;
    width: 100px;
    border-radius: 19px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    transform: translate(-35%, -35%); 
}

.user-info-login:hover {
    box-shadow: 0 0 20px 5px rgba(80, 175, 162, 0.7);
}

#_desktop_user_info {
    display: grid;
    place-items: center;
}

.user-info-login a i {
    display: none;
}

.login {
    color: #fff !important;
} 

.hidden-sm-down {
    color: #001234;
}

.logout {
    color: white !important;
}

.account {
    color: #fff !important;
    transform: translate(-30%, -10%);
}

.sign-in-content {
    width: 200px;
    display: flex;
}

/* header border */

.header-nav {
    box-shadow: none !important;
    border-color: #001234 !important;
}

/* image slider */

#carousel {
    height: auto;
    margin-bottom: 0px !important;
    padding: 0px !important;
}

.carousel-inner {
    height: auto;
}

/* tekst nad produktami */
.featured-products {
    text-align: center;
    font-size: 1.65em;
    font-weight: 700;
    color: #5f0c79;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* miniaturki produktów */

.products {
    margin-top: 50px !important;
}

.product-description {
    background-color: transparent !important;
}

.thumbnail-container {
    background-color: transparent !important;
}

.thumbnail-top {
    border-radius: 25px;
}

.product-thumbnail {
    transition: filter 0.3s ease;
}

.product-miniature {
    background-color: transparent !important;
    transition: transform 0.3s ease;
}

.product-miniature:hover .product-thumbnail {
    filter: blur(3px);
}

.product-miniature:hover {
    transform: scale(1.05);
}

.price {
    font-size: 16px !important;
    color: #50AFA2;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px;
}

.regular-price {
    font-size: 10px !important;
    color: #282b2a !important;
    background-color: #7e8a88;
    border-radius: 15px;
    translate: -20px 0px;
}

.product-price-and-shipping {
    opacity: 0;
    transition: opacity 0.3s ease;
    translate: 0px -270px;
}

.product-miniature:hover .product-price-and-shipping {
    opacity: 1;
}

.product-flags {
    translate: 0px 150px;
}

.highlighted-informations {
    display: none !important;
}

.wishlist-button-add {
    background-color: #50AFA2 !important; 
    translate: -90px 80px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-miniature:hover .wishlist-button-add {
    opacity: 1;
}

.wishlist-button-add:hover {
    box-shadow: 0 0 20px 5px rgba(80, 175, 162, 0.7);
}

.wishlist-button-add .material-icons {
    color: #fff !important;
}

.product-title {
    height: auto;
    text-wrap: wrap;
}

.product-title a {
    text-wrap: wrap;
    font-weight: bold !important;
    color: #40114e !important;
    font-size: 30px;
}
